    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .boxModal{
        position: fixed;
        inset: 0px;
        background-color: #3d4a57;
      }
     