  .loadBtn{
    margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 91px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4E75FF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  }